header {
  height: 200px;
  background-color: #1c1b1b; }
  header a {
    text-decoration: none; }
  header .logo {
    display: flex;
    margin: auto; }

.footer {
  background-color: #A29FA3;
  max-height: auto;
  display: flex;
  flex-direction: column; }
  .footer li {
    display: block;
    list-style: none;
    color: black; }
  .footer .footer__atajo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px; }
  .footer .footer__atajo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px; }
  .footer a {
    text-decoration: none;
    color: black; }
  .footer .icon__contactanos {
    padding-right: 10px; }
  .footer .maps {
    display: flex;
    width: 80%;
    margin: auto; }
  .footer .icon__instagram {
    display: flex;
    justify-content: center; }
  .footer .p__rv {
    text-decoration: overline; }
  .footer ul {
    padding: 0; }
  .footer .fa-instagram {
    display: block;
    font-size: 50px;
    margin: auto; }
  .footer h6 {
    padding-top: 10px;
    text-align: center;
    text-decoration: overline; }

.navbar {
  background-color: #bebebe;
  background-image: linear-gradient(to right, #b694cb, grey, grey, grey, #b694cb); }
  .navbar .navbar-toggler {
    display: flex;
    margin: auto; }
    .navbar .navbar-toggler .navbar-collapse {
      display: flex;
      margin: auto; }

.main {
  background-color: #191919;
  height: auto;
  max-width: 100%; }
  .main H5 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white; }
  .main a {
    text-decoration: none;
    color: white; }
  .main .container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; }
    .main .container-products .product {
      width: 160px; }
    .main .container-products .product__img--general {
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 5px 0px 10px black;
      height: 180px;
      width: 155px;
      background-color: white; }
      .main .container-products .product__img--general .product__title {
        color: white;
        opacity: 0.5; }
        .main .container-products .product__img--general .product__title .product__price {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          color: white; }

.product__title {
  color: white;
  opacity: 0.5; }

.product__price {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white; }

.button {
  display: flex;
  width: fit-content;
  height: 35px;
  border: solid 1px;
  padding: 7px;
  border-radius: 5px;
  background-color: #bdbcbc;
  color: black;
  box-shadow: 5px 0px 10px black;
  margin-top: 10px;
  transition: .5s; }

.button__agotado {
  display: flex;
  width: fit-content;
  height: 35px;
  border: solid 1px;
  padding: 7px;
  border-radius: 5px;
  background-color: #d58484;
  color: black;
  box-shadow: 5px 0px 10px black;
  margin-top: 10px;
  transition: .5s; }

.card {
  margin: auto;
  top: 30px;
  background-image: linear-gradient(to right, #b694cb, grey, grey, grey, #b694cb); }
  .card .card-header {
    letter-spacing: 0.1em;
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive; }
  .card .card-title {
    letter-spacing: 0.05em;
    color: black; }
  .card .card-text {
    letter-spacing: 0.2em;
    color: black;
    font-family: 'ZCOOL KuaiLe', cursive; }

.product__title__index {
  display: grid;
  background-image: linear-gradient(to right, #b694cb, grey, grey, grey, #b694cb);
  padding-top: 7px;
  padding-bottom: 7px;
  opacity: 0.9;
  border-radius: 10px; }

.containerIndex {
  display: flex;
  flex-direction: column; }

.product-index {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 0px 7px black;
  background-image: linear-gradient(to right, #b694cb, grey, grey, grey, #b694cb);
  width: 70%;
  margin: auto; }

.product__img__index {
  display: block;
  margin: auto; }

body {
  background-image: linear-gradient(to right, rgba(189, 176, 179, 0.662), rgba(112, 110, 101, 0.24), #f5d8d8, rgba(112, 110, 101, 0.24), rgba(189, 176, 179, 0.662)); }

.alert {
  background-color: #a2d4b8; }

.product {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 3px 0px 7px black;
  background-color: #a29fa3; }

.product__img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px; }
