.footer{
    background-color:#A29FA3;
    max-height: auto;
    display: flex;
    flex-direction: column;
    li{
        display: block;
        list-style: none;
        color: black;
    }   
    
    .footer__atajo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10px;
    }
    .footer__atajo2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    .icon__contactanos{
        padding-right: 10px;
    }
    .maps{
        display: flex;
        width: 80%;
        margin: auto;
    }
    .icon__instagram{
        display: flex;
        justify-content: center;
    }
    .p__rv{
        text-decoration:overline;
    }
    ul{
        padding: 0;
    }
    .fa-instagram{
        display: block;
        font-size: 50px;
        margin: auto;
    }
    h6{
    padding-top: 10px;
    text-align: center;
    text-decoration:overline;
    }
}