header{
    height: 200px;
    background-color: rgb(209, 209, 209);
    
    
    .title{
        display: flex;
        flex-direction: column;
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 70px;
        margin: 0;
        color: black;
        text-decoration: none;
    }
    .title_h2{
        font-family: 'ZCOOL KuaiLe', cursive;
        font-size: 40px;
        color: black;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
    .logo{
        display: flex;
        margin: auto;
        height: 400px;
        width: 350px;
        padding-bottom: 180px;
    }
}