.product{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 0px 7px black;
    background-color: rgb(162, 159, 163);
}
.product__img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media (min-width: 768px){
    #navbarNavDropdown ul{
        

    }
    #main-hombres{
        background-image: linear-gradient(to right, rgb(114, 68, 114), black, black, black, black, rgb(114, 68, 114));
    }
    .product{
        display: flex;
        margin: auto;
    }
    .navbar-nav a{
        color: black;
    }
   
}