.card{
    background-color: rgb(182, 148, 203);
    margin: auto;
    top: 30px;
    background-image: linear-gradient(to right, rgb(182, 148, 203),grey,grey,grey,rgb(182, 148, 203));
    .card-header{
        letter-spacing: 0.1em;
        color: black;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
    .card-title{
        letter-spacing: 0.05em;
        color: black;
        
    }
    .card-text{
        letter-spacing: 0.2em;
        color: black;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
}
.product{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 0px 7px black;
    background-color: rgb(162, 159, 163);
}

.product__title__index{
    display: grid;
    background-color: rgb(162, 159, 163);
    padding-top: 7px;
    padding-bottom: 7px; 
    opacity: 0.9;
    border-radius: 10px;
}
.product__img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}