.card{
    margin: auto;
    top: 30px;
    .card-header{
        letter-spacing: 0.1em;
        color: black;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
    .card-title{
        letter-spacing: 0.05em;
        color: black;
        
    }
    .card-text{
        letter-spacing: 0.2em;
        color: black;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
}
.product{
    border: 4px solid rgb(222, 117, 117);
    border-radius: 20px;
    box-shadow: 3px 0px 7px black;
}

.product__title__index{
    display: grid;
    background-color: rgb(196, 117, 117);
    padding-top: 7px;
    padding-bottom: 7px; 
    opacity: 0.9;
    border-radius: 10px;
}
.product__img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}