.card{
    margin: auto;
    top: 30px;
    background-image: linear-gradient(to right, rgb(182, 148, 203),grey,grey,grey,rgb(182, 148, 203));
    .card-header{
        letter-spacing: 0.1em;
        color: black;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
    .card-title{
        letter-spacing: 0.05em;
        color: black;
        
    }
    .card-text{
        letter-spacing: 0.2em;
        color: black;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
}

.product__title__index{
    display: grid;
    background-image: linear-gradient(to right, rgb(182, 148, 203),grey,grey,grey,rgb(182, 148, 203));
    padding-top: 7px;
    padding-bottom: 7px; 
    opacity: 0.9;
    border-radius: 10px;
}

.containerIndex{
    display: flex;
    flex-direction: column;
    
}
.product-index{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 3px 0px 7px black;
    background-image: linear-gradient(to right, rgb(182, 148, 203),grey,grey,grey,rgb(182, 148, 203));
    width: 70%;
    margin: auto;
}
.product__img__index{
    display: block;
    margin: auto; 
}