.navbar{
    background-color:rgb(190, 190, 190) ;
    background-image: linear-gradient(to right, rgb(182, 148, 203),grey,grey,grey,rgb(182, 148, 203));
    .navbar-toggler{
        display: flex;
        margin: auto;

        .navbar-collapse{
            display: flex;
            margin: auto;
        }
    }
}