.botonRifa{
    display: flex;
    margin: auto;
    background-color: rgb(188, 234, 233);
}
.card-rifa{
    margin: auto;
    top: 30px;
    background-image: linear-gradient(to right, rgb(182, 148, 203),grey,grey,grey,rgb(182, 148, 203));
    .card-text-rifa{
        letter-spacing: 0.1em;
        color: rgb(0, 0, 0);
        font-family: 'ZCOOL KuaiLe', cursive;
      
    }
}
.rifa-rifa{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.btn__rifa{
    display: flex;
    margin: auto;
    padding-bottom: 10px;
    font-size: 22px;
    border-radius: 20px;
    background-color: rgba(0, 42, 250, 0.705);
}

 